[submodule "depthai-core"]
	path = depthai-core
	url = https://github.com/luxonis/depthai-core.git
[submodule "unity_bridge/depthai_hand_tracker"]
	path = unity_bridge/depthai_hand_tracker
	url = https://github.com/geaxgx/depthai_hand_tracker.git
